.marquee {
  margin-top: 10px;
  margin-bottom: 80px;
}

.marquee-photo-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  padding-left: 15px;
  box-sizing: border-box;
}

.marquee-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}