.photos-page {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.album-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  justify-content: left;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}