.header {
  background-color: rgb(48, 59, 80);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.header .left-section {
  width: auto;
  display: flex;
  align-items: center;
}

.header .home-link {
  display: flex;
  align-items: center;
}

.header .header-logo {
  height: 40px;
}

.header .home-text {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-left: 10px;
}

.header .middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.header .header-link {
  display: inline-block;
  padding: 6px 9.5px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header .header-link:hover {
  background-color: rgb(254, 174, 165);
  .nav-text {
    color: black
  }
}

.header .header-link.active {
  background-color: rgb(250, 128, 114);
  .nav-text {
    color: black;
  }
}

.header .nav-text {
  display: block;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.header .right-section {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header .logo {
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
}

.header .logo-link:hover {
  .logo {
    height: 28px;
    margin-left: 6px;
    margin-right: 6px;
  }
}