:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "dritch";
  src: url("assets/fonts/dritch-webfont.woff2") format('woff2');
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: black;
  margin: 0;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2.8em;
  line-height: 1.1;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.button-primary {
  height: 40px;
  width: 70px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em;
  color: white;
  background-color: rgb(48, 59, 80);
  box-shadow: 0 2px 5px rgba(220, 220, 220, 0.5);
  border: 5px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

.button-primary:hover {
  background-color: rgb(31, 39, 55);
  border: 1px solid transparent;
}

.button-primary:active {
  background-color: rgb(24, 30, 42);
  border-color: transparent;
  box-shadow: none;
}