:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  margin: 0;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-size: 14px;
  cursor: pointer;
}

select {
  cursor: pointer;
}

.button-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 135, 84);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(220, 220, 220, 0.5);
}

.button-primary:hover {
  background-color: rgba(25, 135, 84, 0.75);
  border: 1px solid transparent;
}

.button-primary:active {
  background: rgba(25, 135, 84, 0.5);
  border-color: transparent;
  box-shadow: none;
}

.button-secondary {
  color: rgb(33, 33, 33);
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(220, 220, 220, 0.2);
}

.button-secondary:hover {
  background-color: rgb(250, 250, 250);
}

.button-secondary:active {
  background-color: rgb(240, 240, 240);
  box-shadow: none;
}

.link-primary {
  color: rgb(25, 135, 84);
  cursor: pointer;
}

.link-primary:hover {
  opacity: 0.75;
}

.link-primary:active {
  opacity: 0.5;
}